.poppins {
  font-family: "Poppins", sans-serif;
}
.Btn {
  background: linear-gradient(to right, #fcb735, #fcd969);
  padding: 12px 16px;
  border: 1px solid #fcb735;
  border-radius: 8px;
  box-shadow: 0 6px 4px #fcd969;
  font-weight: 700;
  font-size: medium;
}
body {
  background-color: #d6e6f9;
}
section {
  margin-top: 100px;
}
nav, footer {
  background-color: white;
}
.nav, .footer
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}
#io {
  color: #fcb735;
}

.banner-section,
.why-dev-box,
#youtube-content {
  background-color: #e6edf9;
  margin-right: 50px;
  margin-left: 50px;
  box-shadow: 0 8px 8px #fcb73550;
  text-align: center;
  padding-bottom: 24px;
  padding-top: 24px;
}
.banner-img {
  width: 100%;
}
#banner-heading {
  font-weight: bolder;
  font-size: 40px;
  padding-bottom: 0;
}
.section-title {
  font-weight: bold;
  text-align: center;
  font-size: 30px;
}
.section-description {
  font-weight: 400;
  font-size: small;
  width: 900px;
  margin: auto;
  padding-bottom: 15px;
  text-align: center;
}
.why-dev-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 40px;
  padding-left: 40px;
}
.my-coding {
  text-align: left;
}
.why-dev-text {
  text-align: left;
  width: 550px;
}
.working-developer-img {
}
#section-2-heading {
  font-weight: 25px;
}
#youtube-content {
  border: 1px solid #d6e6f9;
  width: 750px;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  padding-top: 25px;
}
.targets {
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
}
.target-box {
  border: 1px solid #b8e7fa;
  background: linear-gradient(to top, #b8e7fa, white);
  text-align: left;
  padding-left: 10px;
  width: 220px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 12px;
}
.learn-more {
  font-weight: bold;
}
.footer{
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer-link{
    display: flex;
    gap: 10px;
}
    

/* Responsive for phone */
@media only screen and (max-width: 576px) {
  section {
    margin-top: 50px;
  }
  .nav,
  .banner-section {
    padding-right: 10px;
    padding-left: 10px;
  }
  .banner-section,
  .why-dev-box {
    margin-right: 24px;
    margin-left: 24px;
  }
  #banner-heading {
    font-size: 25px;
  }
  .section-description {
    margin: auto;
    width: auto;
    padding-left: 5px;
    padding-right: 5px;
  }
  .working-developer-img {
    width: 60%;
    margin: auto;
  }
  .why-dev-box {
    display: flex;
    flex-direction: column-reverse;
  }
  .my-coding {
    text-align: center;
  }
  .why-dev-text {
    text-align: center;
  }
  #youtube-content {
    border: 1px solid #d6e6f9;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
    width: auto;
    margin-left: 15px;
    margin-right: 15px;
  }
  .youtube {
    width: 400px;
    height: 310px;
  }
  .targets {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
  }
  .target-box{
    margin: auto;
  }
  .footer,.footer-link{
    text-align: left;
    display: flex;
    flex-direction: column;
  }
}
