
.poppins {
  font-family: "Poppins", sans-serif;
}
.Btn {
  background: linear-gradient(to right, #fcb735, #fcd969);
  padding: 8px 12px;
  border: 1px solid #FCB735;
  border-radius: 8px;
  box-shadow: 0 6px 4px #fcd969; 
  font-weight: 700;
  font-size: medium;
}
body{
    background-color: #D6E6F9;
}
nav{
     background-color: white;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}
#io{
color: #FCB735;
}

